* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 550px;
  border-radius: 0px;
  background: #1f2937;
}

.top-section {
  background: #6943ff;
  color: #fff;
}

.top-section div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-style: normal;
  font-weight: 800;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  letter-spacing: -0.03em;
  margin-top: 20px;
}

#input {
  height: 73px;
  width: 100px;
  background: #6943ff;
  border: 2px solid #b295ff;
  border-radius: 5px;
  margin-top: 40px;
  text-align: center;
  font-weight: 800;
  font-size: 30px;
  line-height: 15px;
  color: #ffffff;
}

button {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #3d3d3d;
  background: #ffffff;
  padding: 5px 30px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

button:hover {
   border: 2px solid #273549;
}

.btn {
  margin-top: 40px;
}

.btn-2 {
  padding: 5px 40px;
  margin-top: 20px;
  margin-bottom: 30px;
}

.group-section {
  padding: 10px 0;
}

.units-container {
  margin: 20px auto;
  width: 500px;
  height: 78.57px;
  background: #273549;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 4.68077px 0px 0px 0px;
}

.unit {
  color: #ccc1ff;
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  padding-bottom: 10px;
}

.converted-unit {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}

/* Media Queries */

@media (max-width: 768px) {
  body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }

  .container {
    width: 80%;
    border-radius: 0px;
    background: #1f2937;
  }

  .top-section {
    background: #6943ff;
    color: #fff;
  }

  .top-section div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heading {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -0.03em;
    margin-top: 20px;
    width: 90%;
  }

  #input {
   height: 73px;
   width: 100px;
   background: #6943ff;
   border: 2px solid #b295ff;
   border-radius: 5px;
   margin-top: 40px;
   text-align: center;
   font-weight: 800;
   font-size: 30px;
   line-height: 15px;
   color: #ffffff;
 }

  .group-section {
    padding: 10px 0;
  }

  .units-container {
    margin: 20px auto;
    width: 90%;
    height: 78.57px;
    background: #273549;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4.68077px 0px 0px 0px;
  }

  .unit {
    color: #ccc1ff;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding-bottom: 5px;
  }

  .converted-unit {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
  }
}
